<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery-3.3.1.js"></script>
    <script src="javascripts/client.js"></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Jquery status:<p id="jstatus"></p></p>
    <h2>Truck status: <span><%= truck_status %></span> </h2>

    <!-- Google Map frame -->
    <div id="map"></div>
    
    <!-- Map Update -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2BkiI59erV23pjx7bfHwvVniaqQFyVLg&callback=initMap&libraries=drawing"></script>
    
  </body>
</html>

