.footer > p {
    color:#fff; 
    font-size: 10px;
    margin-bottom:0px;
    margin-top:6px;  
    text-align: center;
}

@media only screen and (max-width: 1600px) {
    .footer{
        display: none;
    }
}
