html, body{
  color: white !important;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 12px 24px;
  font-family: 'Archivo', sans-serif;
  background-color:rgb(37, 37, 37);
}

#header{
  background-color:rgb(68, 68, 68);
  margin: 1em;
  padding:1em;
  border-radius: 20px;
  border: 2px solid #ffffffb3;
  box-shadow: 0px 1px 20px 1px #7c8be4b3;
}

#title_icon{
  height: 96px;
  position: absolute;
  top: 32px;
  left: 52px;
  min-width:48px;
}

#status{
  background-color: rgb(37, 37, 37);
  border-radius: 8px;
  float:right;
}

#container{
  height:100%;
  margin: auto;
  width:100%;
  min-width:672px;
}
input{
  color:white;
}
.list-thumbnail{
  height: 32px;
  width: 32px;
}
#address-info > h6{
  display: inline;
}
tr:hover{
  background-color: orange;
}

#report-container{
  margin:1em;
  border: 2px solid #ffffffb3;
  box-shadow: 0px 1px 20px 1px #7c8be4b3;
  border-radius: 10px;
}
table{
  border-radius: 10px;
}
.rowData{
  max-width: 110px;
}
#map {
  margin:1em;
  height: 70%;
  float: right;
  border-radius: 10px;
  border: 2px solid #ffffffb3;
  box-shadow: 0px 1px 20px 1px #7c8be4b3;
}

a {
  color: #00B7FF;
}

.options{
  min-width: 112px;
  margin-left:1em;
  color: #c1caff;
  padding: 20px 50px;
  font-size: 2em;
  background-color: #555555;
  border: 2px solid #ffffffb3;
  box-shadow: 0px 1px 20px 1px #7c8be4b3;
}
.options:hover{
  background-color: #313131;
}

.options:active{
  border: 3px solid black;
}