html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 12px 24px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container{
  height:100%;
}

table{
  display:inline;
  float: right;
}
#map {
  display: inline;
  height: 70%;
  width: 70%;
}

a {
  color: #00B7FF;
}

span{
  display: inline;
}